<html>
<head>
  <title>Created Contact</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
  <h1>You added a Contact to your Address Book</h1>
  <p>{{ newcontact.getName }}</p>
  <p>{{ newcontact.getNumber }}</p>
  <p>{{ newcontact.getAddress }}</p>
  <p><a href='/'>View Your Address Book</a></p>
</body>
</html>
